server {
    listen 80;
    server_name {{ getv "/app_name" }};
    root /srv/docroot;
    index index.php;

    fastcgi_keep_conn on;
    fastcgi_index index.php;
    fastcgi_param QUERY_STRING $query_string;
    fastcgi_param SCRIPT_NAME $fastcgi_script_name;
    fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;

    add_header  X-Wodby-Namespace   {{ getenv "WODBY_NAMESPACE" }} always;

    include /etc/nginx/conf.d/app.d/{{ getenv "WODBY_APP_TYPE" }}/{{ getenv "WODBY_APP_VERSION" }}/config.conf;
}