<?php
/**
 * @file
 * Wodby-specific configuration file.
 */

ini_set('session.gc_probability', 1);
ini_set('session.gc_divisor', 100);
ini_set('session.gc_maxlifetime', 200000);
ini_set('session.cookie_lifetime', 2000000);

define('WODBY_ENVIRONMENT_TYPE', '{{ getv "/wodby/environment/type" }}');
define('WODBY_ENVIRONMENT_NAME', '{{ getv "/wodby/environment/name" }}');

if (!isset($update_free_access)) {
  $update_free_access = FALSE;
}

if (!isset($drupal_hash_salt) || $drupal_hash_salt = 'WODBY_NO_VALUE') {
  $drupal_hash_salt = '{{ getv "/wodby/salt" }}';
}

$conf['404_fast_paths_exclude'] = '/\/(?:styles)\//';
$conf['404_fast_paths'] = '/\.(?:txt|png|gif|jpe?g|css|js|ico|swf|flv|cgi|bat|pl|dll|exe|asp)$/i';
$conf['404_fast_html'] = '<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML+RDFa 1.0//EN" "http://www.w3.org/MarkUp/DTD/xhtml-rdfa-1.dtd"><html xmlns="http://www.w3.org/1999/xhtml"><head><title>404 Not Found</title></head><body><h1>Not Found</h1><p>The requested URL "@path" was not found on this server.</p></body></html>';

if (!isset($databases['default']['default'])) {
  $databases['default']['default'] = array();
}

$db_url = 'mysqli://wodby:{{ getv "/wodby/db/password" }}@services.{{ getv "/wodby/namespace" }}.wodby.local:3306/wodby';

$conf['file_public_path'] = 'sites/default/files';
$conf['file_private_path'] = '/srv/files/private';
$conf['file_temporary_path'] = '/tmp';

$conf['reverse_proxy'] = TRUE;
$conf['reverse_proxy_header'] = 'HTTP_X_FORWARDED_FOR';
$conf['reverse_proxy_addresses'] = array('172.17.42.1');

if (isset($_SERVER['HTTP_X_FORWARDED_PROTO']) && $_SERVER['HTTP_X_FORWARDED_PROTO'] == 'https') {
  $_SERVER['HTTPS'] = 'on';
}

$base_path = 'sites/all/modules';
$contrib_path = is_dir($base_path . '/contrib') ? $base_path . '/contrib' : $base_path;