<?php

/**
 * @file
 * Wodby-specific configuration file.
 */

define('WODBY_ENVIRONMENT_TYPE', '{{ getv "/wodby/environment/type" }}');
define('WODBY_ENVIRONMENT_NAME', '{{ getv "/wodby/environment/name" }}');

$config_directories['active'] = 'sites/default/files/config_{{ getenv "WODBY_DRUPAL_CONFIG_SALT" }}/active';
$config_directories['staging'] = 'sites/default/files/config_{{ getenv "WODBY_DRUPAL_CONFIG_SALT" }}/staging';

$settings['container_yamls'][] = __DIR__ . '/services.yml';

if (!isset($settings['update_free_access'])) {
  $settings['update_free_access'] = FALSE;
}

if (!isset($settings['hash_salt']) || $settings['hash_salt'] = 'WODBY_NO_VALUE') {
  $settings['hash_salt'] = '{{ getv "/wodby/salt" }}';
}

if (!isset($databases['default']['default'])) {
  $databases['default']['default'] = [];
}

$databases['default']['default'] = array_merge(
  $databases['default']['default'],
  [
    'database' => 'wodby',
    'username' => 'wodby',
    'password' => '{{ getv "/wodby/db/password" }}',
    'host' => 'services.{{ getv "/wodby/namespace" }}.wodby.local',
    'port' => 3306,
    'driver' => 'mysql',
    'namespace' => 'Drupal\\Core\\Database\\Driver\\mysql',
  ]
);

$settings['file_public_path'] = 'sites/default/files';
$settings['file_private_path'] = '/srv/files/private';
$settings['file_temporary_path'] = '/tmp';

$settings['reverse_proxy'] = TRUE;
$settings['reverse_proxy_header'] = 'HTTP_X_FORWARDED_FOR';
$settings['reverse_proxy_addresses'] = ['172.17.42.1'];

if (isset($_SERVER['HTTP_X_FORWARDED_PROTO']) && $_SERVER['HTTP_X_FORWARDED_PROTO'] == 'https') {
  $_SERVER['HTTPS'] = 'on';
}
